<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <h1>Login page</h1>
    <form th:action="@{/process_login}" th:method="post" style="display:inline;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div th:if="${param.error}" style="color: red">
            Incorrect email or password!
        </div>
        <div>
            <label for="email">Enter email: </label>
            <input type="email" name="username" id="email" placeholder="email"/>
        </div>
        <div>
            <label for="password">Enter password: </label>
            <input type="password" name="password" id="password" placeholder="password"/>
        </div><br>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>