<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <style>
        th {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Current users</h1>
    <div th:if="${#lists.isEmpty(users)}">
        <p>There are no users!</p>
    </div>
    <div th:unless="${#lists.isEmpty(users)}">
        <table th:border="1" style="width:300px">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${#strings.arrayJoin(user.roles.toArray(), ', ')}"></td>
                    <td>
                        <form th:method="get" th:action="@{/admin/edit}">
                            <input type="hidden" name="id" th:value="${user.id}">
                            <button type="submit" style="width:50px">Edit</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div><br>

    <form th:method="post" th:action="@{/logout}" style="display:inline;">
        <button type="submit">Logout</button>
    </form>

    <form th:method="get" th:action="@{/user/user_page}" style="display:inline;">
        <button type="submit" >User's view</button>
    </form>
</body>
</html>