<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
    <h1>Registration page</h1>
    <form th:method="post" th:action="@{/admin/registration}" th:object="${userDto}" style="display:inline;">
        <div th:replace="admin/fragments/user_form :: form"></div>
        <input type="submit" value="Register a user">
    </form>
    <form th:method="get" th:action="@{/admin/admin_page}" style="display:inline;">
        <input type="submit" value="To admin page">
    </form>
</body>
</html>