    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Update user</title>
    </head>
    <body>
        <div th:if="${errorMessage}" style="color: red;">
            <p th:text="${errorMessage}"></p>
        </div>
        <form th:method="post" th:action="@{/admin/update}" th:object="${userDto}" style="display:inline;">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label for="username">Enter new username: </label>
                <input type="text" th:field="*{username}" id="username" placeholder="username">
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red"></span>
            </div>
            <div>
                <label for="email">Enter new email: </label>
                <input type="email" th:field="*{email}" id="email" placeholder="email">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></span>
            </div>
            <div>
                <label for="age">Enter new age: </label>
                <input type="number" th:field="*{age}" id="age" placeholder="age">
                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color:red"></span>
            </div>
            <div>
                <label for="password">Enter new password: </label>
                <input type="password" th:field="*{password}" id="password" placeholder="password">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></span>
            </div>
            <div>
                <label for="passwordConfirm">Confirm new password: </label>
                <input type="password" th:field="*{passwordConfirm}" id="passwordConfirm" placeholder="passwordConfirm">
                <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" style="color:red"></span>
            </div>
            <div>
                <label for="isAdmin">Administrator role </label>
                <input type="checkbox" th:field="*{isAdmin}" id="isAdmin"
                        th:checked="${userDto.isAdmin}">
            </div>
            <br>
            <input type="submit" value="Update"/>
        </form>

        <form th:method="post" th:action="@{/admin/delete}" style="display:inline;"
              onsubmit="return confirm('Are you sure you want to delete this user?')">
            <input type="hidden" name="id" th:value="${userDto.id}"/>
            <button type="submit">Delete</button>
        </form>

        <form th:method="get" th:action="@{/admin/admin_page}" style="display:inline;">
            <button type="submit">Return to users list</button>
        </form>
    </body>
    </html>