    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Update user</title>
    </head>
    <body>
        <form th:method="post" th:action="@{/admin/update}" th:object="${userDto}" style="display:inline;">
            <input type="hidden" th:field="*{id}"/>
            <div th:replace="admin/fragments/user_form :: form"></div>
            <input type="submit" value="Update"/>
        </form>
        <form th:method="get" th:action="@{/admin/admin_page}" style="display:inline;">
            <button type="submit">Return to users list</button>
        </form>
    </body>
    </html>