<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>User page</title>
</head>
<body>
<h1 th:text="'Hello, ' + ${user.username} + '!'"></h1>
    <table th:border="1" style="width:300px">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.age}"></td>
                <td>
                    <form th:method="post" th:action="@{/logout}">
                        <button type="submit">Logout</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>