<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>User page</title>
</head>
<body>
<h1 th:text="'Hello, ' + ${user.username} + '!'"></h1>
    <table th:border="1" style="width:300px">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.age}"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <form th:method="post" th:action="@{/logout}" style="display:inline;">
        <button type="submit">Logout</button>
    </form>
    <form sec:authorize="hasRole('ADMIN')" th:method="get" th:action="@{/admin/admin_page}" style="display:inline;">
        <button type="submit">Return to users list</button>
    </form>
</body>
</html>