<!DOCTYPE html>
<html lang="en">
<body>
    <div th:fragment="form">
        <div>
            <label for="firstName">Enter first name: </label>
            <input type="text" th:field="*{firstName}" id="firstName" placeholder="first name"/>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red"></span>
        </div>
        <div>
            <label for="lastName">Enter last name: </label>
            <input type="text" th:field="*{lastName}" id="lastName" placeholder="last name"/>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red"></span>
        </div>
        <div>
            <label for="email">Enter email: </label>
            <input type="text" th:field="*{email}" id="email" placeholder="email"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></span>
        </div>
        <div>
            <label for="age">Enter age: </label>
            <input type="number" th:field="*{age}" id="age" placeholder="age"/>
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color:red"></span>
        </div>
        <div>
            <label for="password">Enter password: </label>
            <input type="password" th:field="*{password}" id="password" placeholder="password"/>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></span>
        </div>
        <div>
            <label for="passwordConfirm">Confirm password: </label>
            <input type="password" th:field="*{passwordConfirm}" id="passwordConfirm" placeholder="confirm password"/>
            <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" style="color:red"></span>
        </div>
        <div th:if="${userDto.id != 1}">
            <label for="roles">Select role: </label>
            <select th:field="*{roles}" id="roles">
                <option th:each="role : ${roles}"
                        th:value="${role.id}"
                        th:text="${role.roleName.substring(5).toLowerCase()}"></option>
            </select>
        </div>
        <br>
    </div>
</body>
</html>